@import "./normalize.css";

@font-face {
    font-family: "Montserrat Light";
    src:
        local("Montserrat-Light"),
        url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Regular";
    src:
        local("Montserrat-Regular"),
        url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src:
        local("Montserrat-Bold"),
        url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

$font-light: "Montserrat Light", sans-serif;
$font-mont: "Montserrat Regular", sans-serif;
$font-bold: "Montserrat Bold", sans-serif;
$font-sans: sans-serif;

$bg-dark: #313131;
$bg-light: #ffffff;
$dark-font: #212121;
$light-font: #ffffff;
$flavour-light: #b2533e;
$flavour-dark: #fce09b;

@mixin transition {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin button-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@mixin overlay($light-theme: true) {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 0;

    @if $light-theme {
        opacity: 0.1;
        background-color: $bg-light;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, $bg-light 7px),
            repeating-linear-gradient(#b2533e55, #b2533e);
    } @else {
        opacity: 1;
        background-color: $bg-dark;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, $bg-dark 7px),
            repeating-linear-gradient(#4c292155, #4c2921);
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: $font-mont;
    color: $dark-font;
    background-color: $bg-light;
    .flavour {
        background-color: $flavour-light;
    }
    .overlay {
        @include overlay($light-theme: true);
    }
}

body[data-theme="dark"] {
    background-color: $bg-dark;
    color: $light-font;
    a,
    button {
        color: darken($color: $bg-light, $amount: 10);
    }
    .flavour {
        background-color: $flavour-dark;
    }
    .overlay {
        @include overlay($light-theme: false);
    }
    .modal-content {
        background: $bg-dark;
    }
}

#root {
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
}

a {
    outline: none;
    text-decoration: none;
    color: $bg-dark;
    @include transition();
    &:hover {
        @include transition();
    }
}

.h-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
        position: relative;
        display: block;
    }
}

.btn-function {
    cursor: pointer;
    background-color: $flavour-light;
    color: $light-font;
    width: 90%;
    height: 49.6px;
    border: none;
    outline: none;
    @include transition();
    &:hover {
        @include transition();
        background: rgba($flavour-light, 0.7);
    }
}

.btn-loading {
    background: none;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0;
    margin: 0;
}

.main-container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 100%;

    .full-page {
        height: 100vh;
    }

    .header {
        height: 50px;
        background: rgba($flavour-light, 0.3);
        border-bottom: 2px solid $flavour-light;

        .nav {
            margin: 0 auto;
            max-width: 950px;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 1rem;

            .account {
                display: flex;
                height: 100%;
                margin-right: auto;
                li {
                    button {
                        border: none;
                        margin: 0;
                        padding: 5px;
                        border-radius: 33px;
                        font-size: 1.5rem;
                        background: none;
                        @include transition();
                        &:hover {
                            @include transition();
                            background-color: $flavour-light;
                        }

                        svg {
                            display: block;
                            margin: 0 auto;
                            cursor: pointer;
                        }
                    }
                }
            }

            .categories {
                display: flex;
                height: 100%;
                li {
                    height: 100%;
                    a {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        padding: 0 0.8rem;
                        font-size: 0.9rem;
                        font-weight: 600;
                        &:hover {
                            background: rgba($flavour-light, 0.5);
                        }
                    }
                }
            }
            .search {
                input {
                    height: 49.6px;
                    width: 150px;
                    padding: 5px 10px;
                    outline: none;
                    border: none;
                    background: rgba($flavour-light, 0.5);
                    font-size: 0.85rem;
                    color: $bg-light;
                    @include transition();
                    &::placeholder {
                        color: $bg-light;
                        opacity: 0.8;
                    }

                    &::-ms-input-placeholder {
                        color: $bg-light;
                    }

                    &:hover,
                    &:focus {
                        @include transition();
                        background: rgba($flavour-light, 0.7);
                    }
                }
            }
        }
    }

    .content-wrapper {
        width: 100%;
        height: calc(100% - 50px);
        margin: 0 auto;
        max-width: 950px;

        .page-center {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.theme {
    z-index: 777;
    position: fixed;
    bottom: 15px;
    left: 49vw;
    display: flex;
    font-size: 1.5rem;
    text-align: center;

    span {
        padding: 3px;
        border-radius: 33px;
        @include transition();
        &:hover {
            @include transition();
            background-color: $flavour-light;
        }

        svg {
            display: block;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

.theme.theme-nav {
    position: relative;
    bottom: 0;
    left: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.6rem;
    font-size: 0.9rem;
    textarea {
        width: 570px;
        height: 250px;
    }
    textarea.desc {
        width: 400px;
        height: 70px;
    }
    .text-editor {
        display: flex;
        flex-direction: column;
        row-gap: 0.6rem;
        button {
            font-size: 0.69rem;
            display: inline-block;
            margin-right: 5px;
            width: 80px;
        }
    }
    input {
        height: 49.6px;
        width: 90%;
        padding: 5px 10px;
        outline: none;
        border: none;
        background: rgba($flavour-light, 0.5);
        font-size: 0.85rem;
        color: $bg-light;
        @include transition();
        &::placeholder {
            color: $bg-light;
            opacity: 0.8;
        }

        &::-ms-input-placeholder {
            color: $bg-light;
        }

        &:hover,
        &:focus {
            @include transition();
            background: rgba($flavour-light, 0.7);
        }
    }
    .error {
        font-size: 0.75rem;
    }
    .functions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.7rem;
        margin-top: 1rem;

        span {
            display: inline-flex;

            text-align: end;
            cursor: pointer;
            @include transition();
            &:hover {
                @include transition();
                font-weight: 600;
                color: $flavour-light;
            }
        }
    }
}

.modal-container {
    min-height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 23128;
    .modal-overlay {
        width: 100%;
        min-height: 100vh;
        cursor: auto;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAOSURBVBiVY2AYBYMJAAABkAAB2POVPwAAAABJRU5ErkJggg==)
            repeat 0 0;
        opacity: 0.6;
    }

    .modal-content {
        position: absolute;
        background: $bg-light;
        min-width: 400px;
        padding: 1.3rem 2rem;
        z-index: 9;
        border: 1px solid rgba($flavour-light, 0.5);

        .heading {
            width: 90%;
            margin: 0 auto;
            font-size: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            svg {
                font-size: 1.5rem;
                color: $font-light;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 941px) {
    .main-container .content-wrapper {
        padding: 2rem;
    }
}

@media (max-width: 940px) {
    .main-container .content-wrapper {
        width: 85%;
    }
    .nav {
        padding: 0 15px;
    }
}

@media (max-width: 640px) {
    .main-container .content-wrapper {
        width: 85%;
    }

    .nav {
        padding: 0 15px;
    }
}
