@import "./normalize.css";

@font-face {
    font-family: "Montserrat Light";
    src:
        local("Montserrat-Light"),
        url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Regular";
    src:
        local("Montserrat-Regular"),
        url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src:
        local("Montserrat-Bold"),
        url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

$font-light: "Montserrat Light", sans-serif;
$font-mont: "Montserrat Regular", sans-serif;
$font-bold: "Montserrat Bold", sans-serif;
$font-sans: sans-serif;

$bg-dark: #313131;
$bg-light: #ffffff;
$dark-font: #212121;
$light-font: #ffffff;
$flavour-light: #b2533e;
$flavour-dark: #fce09b;

@mixin transition {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin button-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@mixin light-background() {
    background: rgba($flavour-light, 0.4);
    -webkit-box-shadow: 0px 4px 20px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 4px 20px -11px rgba(66, 68, 90, 1);
    box-shadow: 0px 4px 20px -11px rgba(66, 68, 90, 1);
}

@mixin overlay($light-theme: true) {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 0;

    @if $light-theme {
        opacity: 0.1;
        background-color: $bg-light;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, $bg-light 7px),
            repeating-linear-gradient(#b2533e55, #b2533e);
    } @else {
        opacity: 1;
        background-color: $bg-dark;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, $bg-dark 7px),
            repeating-linear-gradient(#4c292155, #4c2921);
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: $font-mont;
    color: $dark-font;
    background-color: $bg-light;
    .flavour {
        background-color: $flavour-light;
    }
    .overlay {
        @include overlay($light-theme: true);
    }
    .Toastify__toast {
        background: $bg-light !important;
    }
    .toastBody {
        font-family: $font-mont;
        color: $bg-dark;
        font-size: 0.9rem !important;
    }
    .toastProgress {
        background: $flavour-light !important;
    }
}

body[data-theme="dark"] {
    background-color: $bg-dark;
    color: $light-font;
    a,
    button {
        color: darken($color: $bg-light, $amount: 10);
    }
    .flavour {
        background-color: $flavour-dark;
    }
    .overlay {
        @include overlay($light-theme: false);
    }
    .modal-content {
        background: $bg-dark;
    }
    .Toastify__toast {
        background: $bg-dark !important;
    }
    .toastBody {
        color: $light-font;
    }
    .header.scrolling {
        z-index: 1;
        background: darken($flavour-light, 10);
    }
}
#root {
    z-index: 1;
    position: relative;
    min-height: 100%;
}
div[data-lastpass-icon-root] {
    display: none;
}
a {
    outline: none;
    text-decoration: none;
    color: $bg-dark;
    @include transition();
    &:hover {
        @include transition();
    }
}
.h-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
        position: relative;
        display: block;
    }
}
.v-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
        position: relative;
        display: block;
    }
}
.anchor-function {
    cursor: pointer;
    width: 49%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $flavour-light;
    color: $light-font;
    text-align: center;
    font-size: 0.7rem;
    @include transition();
    &:hover {
        @include transition();
        background: rgba($flavour-light, 0.7);
    }
}
.btn-function {
    cursor: pointer;
    background-color: $flavour-light;
    color: $light-font;
    width: 90%;
    height: 49.6px;
    border: none;
    outline: none;
    padding: 0;
    @include transition();
    &:hover {
        @include transition();
        background: rgba($flavour-light, 0.7);
    }
}
.btn-post {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: darken($color: $flavour-light, $amount: 5);
    color: $light-font;
    width: 85px;
    height: 49.6px;
    font-size: 0.75rem;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 0;
    @include transition();
    &:hover {
        @include transition();
        background: rgba($flavour-light, 0.7);
    }
}
.btn-loading {
    background: none;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0;
    margin: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}
.flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
.align-center {
    align-items: center;
}
.interactive {
    padding: 3px;
    border-radius: 33px;
    @include transition();
    &:hover {
        @include transition();
        background-color: $flavour-light;
    }

    svg {
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }
}

.main-container {
    z-index: 1;
    position: relative;
    height: 100%;

    .content-wrapper {
        height: calc(100%);
        margin: 0 auto;
        max-width: 1150px;

        .content {
            width: calc(100% - 350px);
            height: 100%;
            display: flex;
            padding: 50px 25px;
            margin-bottom: 5rem;

            .title {
                display: flex;
                height: 45px;
                align-items: center;
                column-gap: 0.5rem;
                padding: 25px 15px;
                @include light-background();

                svg {
                    font-size: 1.6rem;
                    color: $font-light;
                    opacity: 0.8;
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            .settings {
                display: flex;
                justify-content: center;
                padding: 15px;
                @include light-background();

                form {
                    justify-content: flex-start;

                    textarea {
                        width: 95%;
                        max-width: 95%;
                        height: 100px;
                        min-height: 100px;
                        max-height: 200px;
                    }
                }
                form.socials {
                    flex-wrap: wrap;
                    justify-content: center;
                    input {
                        width: 47%;
                    }
                }
                .btn-function.full-button {
                    width: 95%;
                }
            }

            .post-manager {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 0;
                @include light-background();

                form {
                    justify-content: flex-start;
                }
            }

            .main-blog.posts {
                padding: 15px;
                @include light-background();
                .post-container {
                    padding: 15px;
                    min-height: 135px;
                    justify-content: flex-start;
                    cursor: pointer;
                    @include transition();
                    @include light-background();
                    @include no-select();

                    &:hover {
                        @include transition();
                        background: rgba($flavour-light, 0.6);
                    }
                    .author {
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;
                        .avatar-view {
                            width: 37px;
                            height: 37px;
                        }
                        .flex-column {
                            row-gap: 0.25rem;
                        }
                    }
                    .info {
                        padding: 10px;
                        margin-right: auto;
                    }
                    .post-preview {
                        opacity: 0.85;
                        font-size: 0.85rem;
                        padding: 10px;
                        max-width: 100%;
                        height: 70px;
                        overflow: hidden;

                        img {
                            display: none;
                        }
                        iframe {
                            display: none;
                        }
                        b,
                        small {
                            font-weight: 500;
                            font-size: 0.85rem;
                        }
                        a,
                        i,
                        u {
                            text-decoration: none;
                        }
                    }
                }
            }

            .post-view {
                .author {
                    justify-content: flex-start;
                    align-items: center;
                    margin: 15px 0 15px 10px;
                    .avatar {
                        .avatar-view {
                            width: 57px;
                            height: 57px;
                        }
                    }
                    .flex-column {
                        row-gap: 0.25rem;
                    }
                    .author-socials {
                        margin-left: 1rem;
                        font-size: 1.4rem;
                    }
                    .author-functions {
                        margin-left: auto;
                        a {
                            height: 30px;
                            width: 65px;
                            font-size: 0.9rem;
                        }
                    }
                }
                .post-body {
                    line-height: 1.5em;
                    font-size: 0.95rem;
                    white-space: break-spaces;
                    img {
                        width: 100%;
                    }
                    video {
                        width: 100%;
                    }
                }
            }

            .breadcrumb {
                align-items: center;
                column-gap: 0.3rem;
                a,
                h5 {
                    font-size: 0.8rem;
                    font-weight: 500;
                }
                a {
                    color: lighten($flavour-light, 10);
                    &:hover {
                        color: lighten($flavour-light, 25);
                    }
                }
            }
        }

        .sidebar {
            width: 350px;
            height: calc(100vh - 50px);
            padding: 20px 10px;
            display: flex;
            position: sticky;
            top: 50px;
            justify-content: center;
            @include light-background();
            .user-sidebar {
                justify-content: flex-start;
                height: 90px;
                column-gap: 1rem;
                align-items: center;
                width: 85%;
                margin: 0 auto;
                .profile {
                    row-gap: 0.6rem;
                    width: calc(100% - 80px);
                    h4 {
                        font-weight: 500;
                        letter-spacing: 0.2px;
                        overflow: hidden;
                    }
                    button {
                        width: 49%;
                        height: 30px;
                        font-size: 0.7rem;
                        text-align: center;
                    }
                }
            }
        }
    }

    .split-container {
        display: flex;
        flex-direction: row;
    }

    .header {
        height: 50px;
        position: sticky;
        top: 0;
        background: rgba($flavour-light, 0.3);
        border-bottom: 2px solid $flavour-light;
        z-index: 1;

        .nav {
            margin: 0 auto;
            max-width: 950px;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 1rem;

            .manage {
            }

            .account {
                display: flex;
                height: 100%;
                margin-right: auto;
                li {
                    button {
                        border: none;
                        margin: 0;
                        padding: 5px;
                        border-radius: 33px;
                        font-size: 1.5rem;
                        background: none;
                        @include transition();
                        &:hover {
                            @include transition();
                            background-color: $flavour-light;
                        }

                        svg {
                            display: block;
                            margin: 0 auto;
                            cursor: pointer;
                        }
                    }
                }
            }

            .nav-user {
                display: none;
                height: 100%;
                margin-right: auto;

                .avatar {
                    margin: auto;
                    .avatar-view {
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                        .avatar-overlay {
                            display: none;
                        }
                    }
                }
            }

            .categories {
                display: flex;
                height: 100%;
                li {
                    height: 100%;
                    a {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        padding: 0 0.8rem;
                        font-size: 0.9rem;
                        font-weight: 600;
                        &:hover {
                            background: rgba($flavour-light, 0.5);
                        }
                    }
                }
            }

            .mobile-categories {
                display: none;
                font-size: 1.5rem;
                text-align: center;
                .modal-content {
                    min-width: 300px;
                    li {
                        width: 100%;
                        a {
                            padding: 10px 0;
                            display: block;
                            width: 100%;
                            @extend .btn-function;
                        }
                    }
                }
            }

            .search {
                input {
                    height: 49.6px;
                    width: 150px;
                    padding: 5px 10px;
                    outline: none;
                    border: none;
                    background: rgba($flavour-light, 0.5);
                    font-size: 0.85rem;
                    color: $bg-light;
                    @include transition();
                    &::placeholder {
                        color: $bg-light;
                        opacity: 0.8;
                    }

                    &::-ms-input-placeholder {
                        color: $bg-light;
                    }

                    &:hover,
                    &:focus {
                        @include transition();
                        background: rgba($flavour-light, 0.7);
                    }
                }
            }
        }
    }
    .header.scrolling {
        z-index: 1;
        background: lighten($flavour-light, 15);
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .loader,
    .loader:before,
    .loader:after {
        border-radius: 50%;
    }
    .loader {
        color: #ffffff;
        font-size: 11px;
        text-indent: -99999em;
        margin: 55px auto;
        position: relative;
        width: 10em;
        height: 10em;
        box-shadow: inset 0 0 0 1em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }
    .loader:before,
    .loader:after {
        position: absolute;
        content: "";
    }
    .loader:before {
        width: 5.2em;
        height: 10.2em;
        background: #1a1e1e;
        border-radius: 10.2em 0 0 10.2em;
        top: -0.1em;
        left: -0.1em;
        -webkit-transform-origin: 5.1em 5.1em;
        transform-origin: 5.1em 5.1em;
        -webkit-animation: load2 2s infinite ease 1.5s;
        animation: load2 2s infinite ease 1.5s;
    }
    .loader:after {
        width: 5.2em;
        height: 10.2em;
        background: #1a1e1e;
        border-radius: 0 10.2em 10.2em 0;
        top: -0.1em;
        left: 4.9em;
        -webkit-transform-origin: 0.1em 5.1em;
        transform-origin: 0.1em 5.1em;
        -webkit-animation: load2 2s infinite ease;
        animation: load2 2s infinite ease;
    }
    @-webkit-keyframes load2 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load2 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

.avatar {
    .avatar-view {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 333px;
        background: $bg-dark no-repeat center / cover;
        overflow: hidden;
        opacity: 0.8;
        z-index: 1;
        @include transition();
        border: 2px solid $flavour-dark;

        &:hover {
            @include transition();
            opacity: 1;
            background-color: lighten($color: $bg-dark, $amount: 7);
            .default {
                @include transition();
                opacity: 0.15;
            }
            .avatar-overlay {
                display: block;
            }
        }
        .default {
            opacity: 0.8;
            @include transition();
            color: $bg-light;
            height: 80%;
            width: 81%;
            display: block;
            margin: 21px auto;
        }

        img {
            @include transition();
            height: 100%;
            width: 100%;
            margin: 0 auto;
        }
        .avatar-overlay {
            display: none;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 1;

            input[type="file"] {
                display: block;
                opacity: 0;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }
            .editor {
                color: $bg-light;
                display: block;
                cursor: pointer;
                position: absolute;
                width: 30px;
                height: 30px;
                z-index: -1;
                top: 31%;
                left: 31%;
            }
        }
    }
}

.pager {
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .pager-info {
        margin-right: auto;
        font-weight: 500;
        font-size: 0.75rem;
    }
    .pager-button {
        @extend .anchor-function;
        width: auto;
        padding: 0 7px;
        height: 25px;
    }
}

.theme {
    z-index: 777;
    position: fixed;
    bottom: 15px;
    left: 49vw;
    display: flex;
    font-size: 1.5rem;
    text-align: center;
}

.theme.theme-nav {
    position: relative;
    bottom: 0;
    left: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.6rem;
    font-size: 0.9rem;
    textarea {
        width: 90%;
        min-width: 90%;
        max-width: 90%;
        height: 250px;
        min-height: 250px;
        max-height: 500px;
        background: rgba($flavour-light, 0.5);
        padding: 15px 10px;
        outline: none;
        border: none;
        color: $bg-light;
        &::placeholder {
            color: $bg-light;
            opacity: 0.8;
        }
        &::-ms-input-placeholder {
            color: $bg-light;
        }
        &:hover,
        &:focus {
            background: rgba($flavour-light, 0.7);
        }
    }
    .text-editor {
        width: 90%;
        button {
            height: 45px;
            font-size: 0.79rem;
        }
    }
    input {
        height: 49.6px;
        width: 90%;
        padding: 5px 10px;
        outline: none;
        border: none;
        background: rgba($flavour-light, 0.5);
        font-size: 0.85rem;
        color: $bg-light;
        @include transition();
        &::placeholder {
            color: $bg-light;
            opacity: 0.8;
        }

        &::-ms-input-placeholder {
            color: $bg-light;
        }

        &:hover,
        &:focus {
            @include transition();
            background: rgba($flavour-light, 0.7);
        }
    }
    select {
        cursor: pointer;
        height: 49.6px;
        width: 90%;
        padding: 5px 10px;
        outline: none;
        border: none;
        background: rgba($flavour-light, 0.5);
        font-size: 0.85rem;
        color: $bg-light;
    }
    .functions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.7rem;
        margin-top: 1rem;

        span {
            display: inline-flex;

            text-align: end;
            cursor: pointer;
            @include transition();
            &:hover {
                @include transition();
                font-weight: 600;
                color: $flavour-light;
            }
        }
    }
    .error {
        font-size: 0.75rem;
    }
}

.modal-container {
    min-height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 23128;
    .modal-overlay {
        width: 100%;
        min-height: 100vh;
        cursor: auto;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAOSURBVBiVY2AYBYMJAAABkAAB2POVPwAAAABJRU5ErkJggg==)
            repeat 0 0;
        opacity: 0.6;
    }

    .modal-content {
        position: absolute;
        background: $bg-light;
        min-width: 400px;
        padding: 1.3rem 2rem;
        z-index: 9;
        border: 1px solid rgba($flavour-light, 0.5);

        .heading {
            width: 90%;
            margin: 0 auto;
            font-size: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            svg {
                font-size: 1.5rem;
                color: $font-light;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
        .modal-user {
            row-gap: 1rem;
            .avatar-view {
                width: 85px !important;
                height: 85px !important;
                .avatar-overlay {
                    width: 85px;
                    display: block !important;
                }
            }
        }
    }
}

@media (min-width: 960px) {
    .main-container .content-wrapper {
        padding: 0;
    }
}

@media (max-width: 959px) {
    .main-container .content-wrapper {
        width: 85%;
        .content {
            width: 100%;
            .half-width {
                width: 100%;
            }
            .flex-row {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 1rem;
            }
            .flex-column {
                width: 100%;
            }
            form {
                input {
                    width: 90%;
                }
                button {
                    width: 90% !important;
                }
                textarea {
                    width: 90% !important;
                    max-width: 90% !important;
                }
            }
            form.socials {
                width: 90%;
                input {
                    width: 100% !important;
                }
                button {
                    width: 100% !important;
                }
            }
            .info {
                align-items: center;
            }
            .author {
                flex-direction: row;
                .flex-column {
                    width: auto;
                }
            }
            .breadcrumb.flex-row {
                flex-direction: row;
                justify-content: flex-start;
            }
            .post-manager {
                .text-editor {
                    flex-direction: row;
                    flex-wrap: wrap;
                    .btn-function {
                        width: 100px !important;
                    }
                }
            }
        }
    }
    .main-container .header .nav .nav-user {
        display: flex;
        margin-right: 0;
    }
    .main-container .header .nav .mobile-categories {
        display: flex;
    }
    .nav {
        padding: 0 15px;
        .categories {
            display: none !important;
        }
    }
    .sidebar {
        display: none !important;
    }
}

@media (max-width: 640px) {
    .main-container .content-wrapper {
        width: 90%;
        .content {
            width: 100%;
            margin-bottom: 5rem;
            .half-width {
                width: 100%;
            }
            .flex-row {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 1rem;
            }
            .flex-column {
                width: 100%;
            }
            form {
                input {
                    width: 90%;
                }
                button {
                    width: 90%;
                }
            }
            form.socials {
                width: 90%;
                input {
                    width: 100% !important;
                }
                button {
                    width: 100% !important;
                }
            }
            .info {
                align-items: center;
            }
            .author {
                flex-direction: row;
                justify-content: center !important;
                .flex-column {
                    width: auto;
                }
            }
            .breadcrumb.flex-row {
                flex-direction: row;
                justify-content: flex-start;
            }
            .post-manager {
                .text-editor {
                    flex-direction: row;
                    flex-wrap: wrap;
                    .btn-function {
                        width: 85px !important;
                    }
                }
            }
        }
    }

    .main-container .header .nav .nav-user {
        display: flex;
        margin-right: auto;
    }
    .main-container .header .nav .mobile-categories {
        display: flex;
    }

    .header {
        position: relative !important;
    }

    .nav {
        padding: 0 15px;
        .categories {
            display: none !important;
        }
    }

    .sidebar {
        display: none !important;
    }
}
