@import "./normalize.css";

@font-face {
    font-family: "Montserrat Light";
    src:
        local("Montserrat-Light"),
        url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Regular";
    src:
        local("Montserrat-Regular"),
        url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src:
        local("Montserrat-Bold"),
        url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

$font-light: "Montserrat Light", sans-serif;
$font-mont: "Montserrat Regular", sans-serif;
$font-bold: "Montserrat Bold", sans-serif;
$font-sans: sans-serif;

$bg-dark: #212121;
$bg-light: #ffffff;
$dark-font: #212121;
$light-font: #ffffff;
$flavour-light: #b2533e;
$flavour-dark: #fce09b;

@mixin transition {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin button-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@mixin overlay($light-theme: true) {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 0;

    @if $light-theme {
        opacity: 0.1;
        background-color: $bg-light;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, $bg-light 7px),
            repeating-linear-gradient(#b2533e55, #b2533e);
    } @else {
        opacity: 1;
        background-color: $bg-dark;
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, $bg-dark 7px),
            repeating-linear-gradient(#4c292155, #4c2921);
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: $font-mont;
    color: $dark-font;
    background-color: $bg-light;
    .flavour {
        background-color: $flavour-light;
    }
    .overlay {
        @include overlay($light-theme: true);
    }
}

body[data-theme="dark"] {
    background-color: $bg-dark;
    color: $light-font;
    .flavour {
        background-color: $flavour-dark;
    }
    .overlay {
        @include overlay($light-theme: false);
    }
}

#root {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.h-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;

    li {
        position: relative;
        display: block;
    }
}

.main-container {
    z-index: 1;
    position: relative;
    overflow: hidden;

    .full-page {
        height: 100vh;
    }

    .content-wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 950px;

        .page-center {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.resume {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        font-family: $font-light;
        row-gap: 1rem;
        h3 {
            line-height: 1.9;
        }
        h4 {
            line-height: 1.8;
        }
        a {
            font-size: 1rem;
            font-family: $font-mont;
            text-decoration: none;
            color: $flavour-light;
            @include transition();
            &:hover {
                @include transition();
                border-bottom: 3px solid $flavour-dark;
            }
        }
    }
    .socials {
        padding: 10px;
        display: flex;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 7px;
            color: $flavour-light;
            font-size: 1.55rem;
            text-decoration: none;
            font-family: $font-light;
            @include transition();
            &:hover {
                @include transition();
                color: $flavour-dark;
            }
            svg {
                font-size: 1.8rem;
                height: 100%;
            }
        }
    }
    .tech {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 2px;
        padding: 15px 55px;

        span {
            opacity: 0.6;
            font-size: 2rem;
            padding: 5px;
            border-radius: 33px;
            @include transition();
            &:hover {
                @include transition();
                opacity: 1;
            }

            svg {
                display: block;
                margin: 0 auto;
                cursor: pointer;
            }
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1.5rem;
    margin: 10% 0;
    .header {
        h4 {
            opacity: 0.75;
            line-height: 1.4;
        }
        a {
            text-decoration: none;
            color: $flavour-light;
            @include transition();
            &:hover {
                @include transition();
                color: lighten($color: $flavour-light, $amount: 15);
            }
        }
    }
    .projects-container {
        width: 100%;
        height: 100%;

        .project-box {
            height: 350px;
            width: 49%;
            background: no-repeat center / cover;
            border: 1px solid $flavour-light;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                color: $light-font;
                background-color: $flavour-light;
            }
            .actions {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-size: 0.9rem;
                height: calc(100% - 30px);
                width: 100%;
                @include no-select();

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 100%;
                    text-align: center;
                    background-color: $flavour-light;
                    border-top: 1px solid $flavour-light;
                    text-decoration: none;
                    color: $bg-light;
                    @include transition();
                    &:hover {
                        @include transition();
                        background-color: lighten($color: $flavour-light, $amount: 20);
                    }
                }
            }
        }
    }
}

.theme {
    z-index: 777;
    position: fixed;
    bottom: 15px;
    left: 49vw;
    display: flex;
    font-size: 1.5rem;
    text-align: center;

    span {
        padding: 3px;
        border-radius: 33px;
        @include transition();
        &:hover {
            @include transition();
            background-color: $flavour-light;
        }

        svg {
            display: block;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

@media (min-width: 941px) {
    .main-container .content-wrapper {
        padding: 2rem;
    }
}

@media (max-width: 940px) {
    .main-container .content-wrapper {
        width: 85%;
    }
    .resume .about h3 {
        font-size: 2vw;
    }
    .projects .header h4 {
        font-size: 2vw;
    }
    .projects .projects-container .project-box {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .main-container .content-wrapper {
        width: 85%;
    }
    .resume .about h1 {
        font-size: 30px;
    }
    .resume .about h3 {
        font-size: 3vw;
    }
    .projects .header h4 {
        font-size: 2.3vw;
    }
    .projects .projects-container .project-box {
        width: 100%;
    }
}
